<h2>Products</h2>

<!-- <button (click)="showCategories()">
  <img src="https://cdn4.iconfinder.com/data/icons/zoldo-miscellaneous-003/64/category_option_menu-256.png" width="20px">
  Categories
</button>

<form *ngIf=isOpenCategory>
  <ul>
    <li class='ctg-but'>
      <button (click)="chooseCategory()">Camera & Photo</button>
    </li>
    <li class='ctg-but'>
      <button (click)="chooseCategory()">Car & Vehicle Electronics</button>
    </li>
    <li class='ctg-but'>
      <button (click)="chooseCategory()">Computers & Accessories</button>
    </li>
    <li class='ctg-but'>
      <button (click)="chooseCategory()">GPS, Finders & Accessories</button>
    </li>
  </ul>
</form> -->



<div *ngFor="let product of productsSecondCategory">
  <h3>
    <!-- <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a> -->
    <a href="{{ product.link }}">
      {{ product.name }}
    </a>
  </h3>

  <a [title]="product.name + ' details'" [routerLink]="['/productsSecondCategory', product.id]">
    <img class="img-one-page" src="{{product.image}}">
  </a>

  
  <button class="btn-like" (click)="increaseLikes(product)">
     {{ product.numberOflikes }} <img src="https://www.flaticon.com/svg/vstatic/svg/833/833472.svg?token=exp=1615813176~hmac=333980311c8bbe1ba207a921fa60c454" width="30" height="15">
  </button>

  <p *ngIf="product.description">
    <span style="font-weight: bold; color: black; font-size: 15px;">Description:</span> 
    <br>
    <span style="font-width: 1000px; color: black; font-family: sans-serif; font-size: 15px;">{{product.description}}</span>
  </p>

  <p>
    <span style="font-width: 1000px; color: blue; font-weight: bold">rating: {{product.rating}}</span>
  </p>


  <button class="share-btn tg" (click)="sharetotelegram(product)"><img src="https://cdn.worldvectorlogo.com/logos/telegram-1.svg" width="40" height="25">
    Share to Telegram
  </button>

  <button class="share-btn wp" (click)="sharetowhatsapp(product)"><img src="https://cdn.worldvectorlogo.com/logos/whatsapp-symbol.svg" width="40" height="25">
    Share to WhatsApp
  </button>
  <div>
     <button class="share-btn remove" (click)="removeProduct(product.id)">
    remove 
  </button>
  </div>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
